<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Actualiza rapido :D</title>
	<link rel="stylesheet" href="">
</head>
<body>
<h1>Mis Estaciones</h1>	
{% for esta in object_list %}
<a href="../estacioneso/{{ forloop.counter }}" "email me">Entrar</a>{{ esta.id }} - {{ esta.nombre }} - {{ esta.codigo }} {% if esta.codpuno != '0' %} / ---- > / <a href="../esta/{{ esta.codpuno }}">Puno</a>{{ esta.codpuno }}{% else %}{% endif %}</br>
{% empty %}
<p> No hay datos. </p>
{% endfor %}
</body>
</html>